name: Publish openidl-common-lib to Github NPM
on:
  push:
    branches:
      - 'develop'
    paths:
      - 'openidl-common-lib/**'

  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: openidl-common-lib
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Publish package on NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
